    .btn{
        background: transparent;
        width: 75px;
        height: 100%;
        border:none;
        outline: none;
        cursor:pointer;
        font-size: 16px;
        padding: 0;
    }
